@{
    Layout = null;
}

<!-- Информация пользователя -->
<a class="navbar-text ms-auto" asp-action="Index" asp-controller="Cart">
    @await Component.InvokeAsync(nameof(Cart), new {nameOfData = "balance"}) руб <i class="fa-solid fa-cart-shopping"></i> 
    (@await Component.InvokeAsync(nameof(Cart), new {nameOfData = "count"}))
</a>
<div class="dropdown ms-4 nav-color">
    <button class="btn btn-secondary dropdown-toggle"
            type="button" id="dropdownMenuButton"
            data-bs-toggle="dropdown"
            aria-expanded="false">
        User@gmail.com
        <img src="images/user-regular.svg" width="30"
             alt="User" class="rounded nav-color" />
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <li>
            <span class="dropdown-item-text">
                <img src="images/circle-user-regular.svg"
                     width="50" alt="User" class="rounded" />
                user@gmail.com
            </span>
        </li>
        <li><hr class="dropdown-divider"></li>
        <li>
            <form id="logoutForm" class="form-inline">
                <button id="logout" type="submit" class="nav-link btn btn-link text-dark"
                        asp-action="LogOut" asp-controller="Identity">
                    Logout
                </button>
            </form>
        </li>
    </ul>
</div>
<!-- Информация пользователя - конец -->
